In [1]:
'''
Name:Priyanshi Pankhaniya
Enroll no.:216270307066
Div: G
Batch: G3
Write a Pandas program to implement following operation
A. to create a dataframe from a dictionary and display it
'''
import pandas as pd
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 28],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print("DataFrame created from dictionary:")
df

DataFrame created from dictionary:

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [2]:
'''
B. to sort the DataFrame first by 'name' in ascending order
'''
df = df.sort_values(by='name')
print("\nB. DataFrame sorted by 'name' in ascending order:")
df

B. DataFrame sorted by 'name' in ascending order:

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [3]:
'''
C. to delete the one specific column from the DataFrame
'''
df = df.drop(columns=['age'])
print("\nC. DataFrame with 'age' column deleted:")
df

C. DataFrame with 'age' column deleted:

      name         city
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston

In [4]:
'''
D. to write a DataFrame to CSV file using tab separator
'''
import pandas as pd
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 28],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
output_file = 'data.csv'
df.to_csv(output_file, sep='\t', index=False)
print(f"\nD. DataFrame written to '{output_file}' with tab separator.")
input_file = 'data.csv'
df1= pd.read_csv(input_file, sep='\t')
print("DataFrame read from the CSV file:")
df1

D. DataFrame written to 'data.csv' with tab separator.
DataFrame read from the CSV file:

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston